<%- include('templates/header')-%>
<form>
    <div class="form-group">
      Nama User: <p><%= transfer.name %> </p><br>Saldo: 
      <p><%= saldo.nominalSaldo %> </p>
    </div>
    <div class="form-group">
      <label for="idpenerima">ID Penerima</label>
      <input type="text" class="form-control" id="idpenerima" placeholder="Enter ID">
    </div>
    <div class="input-group mb-3 form-group">
        <label for="nominal">Nominal</label>
        <div class="input-group-prepend">
          <span class="input-group-text">Rp. </span>
        </div>
        <input type="number" class="form-control" name="nominal" step="5000" min="5000">
        <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div>
      </div>
    <!-- <div class="form-group">
      <label for="nominal">Nominal</label>
      <input type="text" class="form-control" id="nominal" placeholder="10000">
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<%- include('templates/footer')-%>